*{
    padding: 0;
    margin: 0;
}


.navbar{
    
    width: 100vw;
    display:inline-block;
    

}
.first-section {
    /* background: linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.8)), url(download.jpeg); */
    
place-items: center;
}
.logo{
    height: 40px;
    margin-right: 1000px;
}
.navbar-light .navbar-nav .nav-link {
  
    color:thistle;
margin-right:60%;}
.col-lg-12{
    justify-content: center;

}
/* .bg-dark {
    --bs-bg-opacity: 1;
    background-color: rgba(0,0,0,0.5) !important;} */
body{    background: linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.8)), url(download.jpeg);
    height: 100vh;
    background-size: cover;
    place-items: center;
}
.px-4{
    /* margin-top: 100px !important; */
    color: thistle;
    justify-items: center;
    font-size: 30px;
}
.btn .rounded-pill{
   
     
        border-style: solid;
        border-width: 2px;
        border-color: transparent;
        border-radius: 8px;
        background-color: transparent;
        background: linear-gradient(
    95deg
    , var(--color-primary) 15%, var(--color-tertiary) 45%, var(--color-pink) 75%, var(--color-secondary) 100%) 95%/200% 100%;
        transition-duration: 300ms;
        color: var(--color-white);
        font-size: 16px;
        font-weight: 400;
        text-align: center;
        text-decoration: none;
        text-shadow: var(--shadow-light);
        display: inline-block;
        height: 50px;
        line-height: 47px;
        letter-spacing: 0.5px;
        width: auto;
        transition: 0.4s;
    }
    